html,
body {
  width: 100vw;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: "#F2F2F2";
  overflow-y: overlay;
}

.h1 {
  font-family: "Manrope";
  font-weight: bold;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 58px;
  letter-spacing: 2px;
  margin: 0;
}

/* H2 */
.h2 {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 44px;
  letter-spacing: 1.5px;
  margin: 0;
}

/* H3 */
.h3 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1.15px;
  margin: 0;
}

/* H4 */
.h4 {
  font-weight: bold;
  font-size: 28px;
  text-transform: uppercase;
  line-height: 38px;
  letter-spacing: 2px;
  margin: 0;
}

/* H5 */
.h5 {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 33px;
  letter-spacing: 1.7px;
  margin: 0;
}

/* H6 */
.h6 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1.3px;
  margin: 0;
}

/* Overline */
.overline {
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  letter-spacing: 10px;
  margin: 0;
}

/* Subtitle */
.subtitle {
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 0;
}

/* Regular Body */
.regular {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  white-space: pre-line;
  margin: 0;
}

.error {
  font-weight: "500";
  font-size: "12px";
  color: "#CD2C2C";
}

.scrollable::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; /* Color of the thumb */
  border-radius: 4px; /* Rounded corners of the thumb */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #808080; /* Color of the thumb on hover */
}

.scrollable::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color of the track */
  border-radius: 4px; /* Rounded corners of the track */
}
